<%- include('partials/head') %>

<%- include('header') %>

<h1>Ajouter une Annonce</h1>

<form>
  <label for="titre">Titre :</label>
  <input type="text" id="titre">

  </br>

  <label for="description">Description :</label>
  <input type="text" id="description">

  </br>
  
  <label for="adresse">Adresse :</label>
  <input type="text" id="adresse">
  
  </br>

  <label for="code_postal">Code postal :</label>
  <input type="text" id="code_postal">

  </br>
  
  <label for="ville">Ville :</label>
  <input type="text" id="ville">

  </br>

  <label for="prix">Prix :</label>
  <input type="text" id="prix">

  </br>

  <button type="submit" onclick="addAnnonce()">Créer</button>
</form>
